/* This template is based on:
 *
 * Embedded Moose, Josh Triplett <josh@freedesktop.org>
 *
 * Improved by Csillag Tamas <cstamas@digitus.itk.ppke.hu>
 *
 * Nico Schottelius <nico-ikiwiki-css -at- schottelius.org>
 *
 *    - Added sidebar and tagcloud support
 *    - Made links better viewable
 *    - Smaller footer
 *
 * css for dummies: # = id, . = class
 */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic);


.sidebar, .pagecloud {
   background: #ffffff;
   border: 1px dotted #c0c0c0;
   font-size: 80%;
   font-family: 'Open Sans', sans-serif;
   color: #00000;
}

.sidebar {
   width: 20ex;
   float: left;
   margin-top: 10px;
   margin-left: 0px;
}

.pagecloud {
   float: right;
   margin-top:   0px;
   margin-right: 0px;
}
 
.sidebar ul {
        list-style-type: none;
        padding-left: 1em;
}


body { 
           background: #ffffff;
}

#content {
   background: #ffffff;
   margin: 10px 0px;
   margin-left: 21ex;
   border: 1px dotted #c0c0c0;
   padding: 10px;
   font-family: 'Open Sans', sans-serif;
   color: #00000;
}

h1 {
           font-size: 150%;
           color: #000000;
}

h2 {
           font-size: 130%;
           color: #000000;
}

a {
	   color: #3cacb8;
	   border-bottom: 1px dashed;
	   text-decoration: none;
}

a:hover { background: blue; }

pre {
   color: #d0d0d0;
   border: 1px dotted #c0c0c0;
   background: black;
   padding: 2px;
           font-size: 110%;
}

.feedbutton { background: #ffffff; }

.header {
   background: #ffffff;
   border: none;
   padding: 10px;
   color: #000000;
   font-family: 'Open Sans', sans-serif;
}

.header a {
   margin-right: 1ex;
   color: #3cacb8;
   font-family: 'Open Sans', sans-serif;
}

.tags, #backlinks {
   background: #ffffff;
   border: 2px solid #500000;
   margin: 2px;
   color: #00000;
   font-family: 'Open Sans', sans-serif;
}

.tags {
   color: #000000;
}

/* pagedate is even less interesting, make it even smaller */
.pagedate {
   background: #ffffff;
   border: none;
   padding: 4px;
   color: #00000;
   font-size: 80%;
}

.selflink { background: #ffffff; color: black }
.actions ul { background: #ffffff; border: none; padding-bottom: 0px; font-family: 'Open Sans', sans-serif;}
.actions a  { margin-right: 1ex; color: #dfdfdf; font-family: 'Open Sans', sans-serif;}
#footer { border: none; font-family: 'Open Sans', sans-serif;}

/* elements at the bottom should be a bit smaller in general */
.pagefooter {
   font-family: 'Open Sans', sans-serif;
   font-size: 80%;
}
